[Desktop Entry]
Name=HEIC convert
GenericName=HEIC/HEIF to JPG
Keywords=heic;heif
Exec=/opt/dynwal/convert
#Terminal=false
#Type=Application
#NoDisplay=true
#StartupNotify=true
Terminal=true
Type=Application
NoDisplay=false
StartupNotify=true
